<template>
    <v-flex xs12 sm6 md4 lg3>
        <v-card>
            <v-img
                :src="poster"
                :aspect-ratio="12/17">
                <template v-slot:placeholder>
                    <v-layout
                        fill-height
                        align-center
                        justify-center
                        ma-0>
                        <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                    </v-layout>
                </template>
            </v-img>
            <v-card-text>
                {{ name }}
                <v-treeview
                    :items="tree"
                    :load-children="getLinks"
                    :active.sync="active"
                    loading-icon="mdi-refresh"
                    open-on-click
                    activatable
                    transition>
                </v-treeview>
            </v-card-text>
        </v-card>
    </v-flex>
</template>

<script>
export default {
    data(){
        return {
            poster: '',
            tree: [],
            id: 0,
            active: [],
            links: []
        }
    },
    props: {
        name: String,
        infos: Object,
        sourceName: String
    },
    watch: {
        active() {
            if (this.active.length === 0) {
                return
            }

            let id = this.active[0]

            this.$emit('urlSelected', this.links.find(l => l.id === id).url)
        }
    },
    mounted() {
        this.tree = this.formatTree(this.infos, true)
        this.poster = this.firstEl(this.infos).poster
    },
    methods: {
        firstEl(o) {
            if (o[Object.keys(o)[0]] instanceof Object) {
                return this.firstEl(o[Object.keys(o)[0]])
            }
            return o
        },
        formatTree(t, emptyTree) {
            let tree = []
            let self = this
            Object.keys(t).sort(function(a, b) {
                let aA = a.replace(/[^a-zA-Z]/g, "");
                let bA = b.replace(/[^a-zA-Z]/g, "");
                if (aA === bA) {
                    let aN = parseInt(a.replace(/[^0-9]/g, ""), 10);
                    let bN = parseInt(b.replace(/[^0-9]/g, ""), 10);
                    return aN === bN ? 0 : aN > bN ? 1 : -1;
                } else {
                    return aA > bA ? 1 : -1;
                }
            }).forEach(function(k) {
                if (t[k] instanceof Object) {
                    self.links.push({
                        id: self.id,
                        url: t[k].url
                    })
                    tree.push({
                        url: t[k].url,
                        name: k,
                        id: self.id++,
                        children: self.formatTree(t[k], emptyTree)
                    })
                }
            })
            if (!emptyTree && tree.length === 0) {
                return undefined
            }
            return tree
        },
        async getLinks(o) {
            let self = this
            await new Promise((a) => {
                self.$searchSocket.emit('get_links', {
                    source_name: this.sourceName,
                    url: o.url
                }, (data) => {
                    o.children = self.formatTree(data.links)
                    a()
                })
            })
        }
    }
}
</script>
