<template>
    <v-card>
        <v-card-title>
            <h2 class="heading">
                {{ download.name }}
            </h2>
            <v-spacer></v-spacer>
            <v-btn
                flat
                icon
                v-if="paused"
                @click="resume"
                :disabled="finished">
                <v-icon>mdi-play</v-icon>
            </v-btn>
            <v-btn
                flat
                icon
                v-else
                @click="pause"
                :disabled="finished">
                <v-icon>mdi-pause</v-icon>
            </v-btn>
            <v-btn
                flat
                icon
                color="error"
                @click="cancel"
                :disabled="finished">
                <v-icon>mdi-stop</v-icon>
            </v-btn>
            <v-progress-linear
                :value="progress"
                :indeterminate="indeterminate"
                :color="finished ? 'success' : 'primary'">
            </v-progress-linear>
        </v-card-title>
        <v-card-text>
            <v-sparkline
                :value="speedRecord"
                color="primary"
                line-width="1"
                smooth>
            </v-sparkline><br/>
            <b>Speed: </b>{{ speed }}<br/>
            <b>ETA: </b>{{ eta }}
        </v-card-text>
    </v-card>
</template>

<script>
import Humanize from 'humanize-plus'

export default {
    data() {
        return {
            progress: 0,
            indeterminate: false,
            paused: false,
            finished: false,
            speed: '',
            speedRecord: [],
            eta: ''
        }
    },
    props: {
        download: Object
    },
    mounted() {
        this.paused = this.download.status === 'paused'
        this.progress = this.download.progress * 100

        let self = this
        this.$downloadSocket.on('progress', function(data) {
            if (data.uuid === self.download.uuid) {
                self.speed = Humanize.fileSize(data.speed) + '/s'
                self.speedRecord.push(data.speed)
                if (self.speedRecord.length > 60) {
                    self.speedRecord.shift()
                }
                self.eta = self.formatTime(data.eta)
                if (data.progress < 0.95) {
                    self.progress = data.progress * 100
                } else {
                    self.indeterminate = true
                }
            }
        })
        this.$downloadSocket.on('success', function(data) {
            if (data.uuid === self.download.uuid) {
                self.indeterminate = false
                self.progress = 100
                self.finished = true
            }
        })

        this.$downloadSocket.on('paused', function(data) {
            if (data.uuid === self.download.uuid) {
                self.progress = data.progress * 100
                self.paused = true
            }
        })

        this.$downloadSocket.on('resumed', function(data) {
            if (data.uuid === self.download.uuid) {
                self.progress = data.progress * 100
                self.paused = false
            }
        })
    },
    methods: {
        cancel() {
            this.$downloadSocket.emit('cancel', {uuid: this.download.uuid})
        },
        pause() {
            this.$downloadSocket.emit('pause', {uuid: this.download.uuid})
        },
        resume() {
            this.$downloadSocket.emit('resume', {uuid: this.download.uuid})
        },
        formatTime(seconds) {
            seconds = Math.floor(seconds)
            if (seconds === 0) {
                return '--'
            }
            let hours = Math.floor(seconds/3600)
            let minutes = Math.floor((seconds - 3600*hours)/60)
            seconds = seconds - 3600*hours - 60*minutes
            return (hours > 0 ? hours + 'h ' : '')
                + (minutes > 0 ? minutes + 'm ' : '')
                + (hours === 0 ? seconds + 's' : '') 
        }
    }
}
</script>
