<template>
    <v-card>
        <v-card-title>
            <h2>
                {{ download.name }}
            </h2>
            <v-spacer></v-spacer>
            <v-btn
                flat
                icon
                color="error"
                @click="cancel">
                <v-icon>mdi-close</v-icon>
            </v-btn>
        </v-card-title>
    </v-card>
</template>

<script>
export default {
    props: {
        download: Object
    },
    methods: {
        cancel() {
            this.$downloadSocket.emit('cancel', {uuid: this.download.uuid})
        }
    }
}
</script>
