<template>
  <v-container grid-list-md>
    <v-layout row wrap>
        <v-flex xs12 md6 v-for="download in activeDownloads" :key="download.uuid">
            <download-card :download="download"></download-card>
        </v-flex>
        <v-flex xs12 v-if="queueDownloads.length">
            <v-divider></v-divider>
            <h2>Queue:</h2>
        </v-flex>
        <v-flex xs12 md6 v-for="download in queueDownloads" :key="download.uuid">
            <queuedownload-card :download="download"></queuedownload-card>
        </v-flex>
    </v-layout>
    <v-btn
        color="secondary"
        fixed
        bottom
        right
        fab
        @click="dialog = true">
        <v-icon>mdi-plus</v-icon>
    </v-btn>
    <add-download-dialog v-model="dialog"/>
  </v-container>
</template>

<script>
import DownloadCard from "../components/cards/Download.vue"
import QueueDownloadCard from "../components/cards/QueueDownload.vue"
import DownloadDialog from "../components/dialogs/AddDownload.vue"
import { setTimeout } from 'timers';

export default {
    data() {
        return {
            dialog: false,
            downloads: [],
            activeDownloads: [],
            queueDownloads: []
        }
    },
    mounted() {
        let self = this

        this.$downloadSocket.on('added', function(data) {
            self.addDownload(data)
        })

        this.$downloadSocket.on('canceled', function(data) {
            self.removeDownload(data)
        })

        this.$downloadSocket.on('success', function(data) {
            self.$notify({
                type: 'success',
                title: 'Download finished',
                text: data.name
            })
            setTimeout(function() {self.removeDownload(data)}, 3000)
        })

        this.$downloadSocket.on('progress', function(data) {
            self.downloads[self.downloads.findIndex(d => d.uuid === data.uuid)] = data
            self.sortDownloads()
        })

        this.$downloadSocket.emit('get_all', function(data) {
            self.downloads = data
            self.sortDownloads()
        })
    },
    methods: {
        addDownload(d) {
            this.downloads.push(d)
            this.sortDownloads()
        },
        removeDownload(d) {
            this.downloads = this.downloads.filter((e) => e.uuid !== d.uuid)
            this.sortDownloads()
        },
        sortDownloads() {
            this.activeDownloads = this.downloads.filter(d => d.status !== 'ready')
            this.queueDownloads = this.downloads.filter(d => d.status === 'ready')
        }
    },
    components: {
        "download-card": DownloadCard,
        "queuedownload-card": QueueDownloadCard,
        "add-download-dialog": DownloadDialog
    }
}
</script>
