<template>
    <v-container grid-list-md>
        <v-layout row wrap>
            <cover-card
                v-for="(v, k) in results"
                :key="k"
                :name="k"
                :infos="v"
                :sourceName="sourceName"
                @urlSelected="urlSelected"></cover-card>
        </v-layout>
    </v-container>
</template>

<script>
import CoverCard from '../components/cards/Cover.vue'

export default {
    props: {
        results: Object,
        sourceName: String
    },
    methods: {
        urlSelected(url) {
            this.$emit('urlSelected', url)
        }
    },
    components: {
        'cover-card': CoverCard
    }
}
</script>

