<template>
    <v-container>
        <v-layout
            align-center
            justify-center
            column
            fill-height>
            <v-text-field
                label="Query"
                v-model="query"
                ref="query"
                append-icon="mdi-magnify"
                :loading="searching"
                @click:append="search"
                @keyup.enter="search">
            </v-text-field>
            <v-select
                :items="sourceNames"
                v-model="sourceName"
                label="Source">
            </v-select>
        </v-layout>
        <v-divider v-if="!searching && resultsFound"></v-divider>
        <results-view
            v-if="!searching && resultsFound"
            :results="results"
            :sourceName="sourceName"
            @urlSelected="urlSelected"></results-view>
    <add-download-dialog v-if="dialog" v-model="dialog" :initialURL="selectedURL"/>
    </v-container>
</template>

<script>
import Results from './Results.vue'
import DownloadDialog from "../components/dialogs/AddDownload.vue"

export default {
    data() {
        return {
            sourceName: '',
            sourceNames: [],
            query: '',
            searching: false,
            results: {},
            resultsFound: false,
            dialog: false,
            selectedURL: ''
        }
    },
    mounted() {
        document.title = "Lapin - Search"
        let self = this
        this.$configSocket.emit('get_sources', function(data) {
            self.sourceNames = data.sort()
            self.sourceName = self.sourceNames[0]
        })
        this.$refs.query.focus()
    },
    methods: {
        search() {
            this.searching = true

            let self = this

            this.$searchSocket.emit('search', {query: this.query, source_name: this.sourceName}, function(data) {
                self.searching = false
                if (data.error) {
                    self.$notify({
                        type: 'warn',
                        text: data.error
                    })
                } else {
                    self.results = data.results
                    self.resultsFound = true
                    document.title = "Lapin - Search - " + self.query
                }
            })
        },
        urlSelected(url) {
            this.selectedURL = url
            this.dialog = true
        }
    },
    components: {
        'add-download-dialog': DownloadDialog,
        'results-view': Results
    }
}
</script>

