<template>
  <v-app dark>
    <v-navigation-drawer
        v-model="drawer"
        :clipped="$vuetify.breakpoint.lgAndUp"
        app
        fixed>
        <v-list
            class="pt-0">
            <v-list-tile
            v-for="item in items"
            :key="item.title"
            :to="item.to">
            <v-list-tile-action>
                <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
                <v-list-tile-title>{{ item.title }}</v-list-tile-title>
            </v-list-tile-content>
            </v-list-tile>
        </v-list>
    </v-navigation-drawer>
    <v-toolbar
        :clipped-left="$vuetify.breakpoint.lgAndUp"
        color="primary"
        app
        fixed
        light>
        <v-toolbar-side-icon
            @click="drawer = !drawer"></v-toolbar-side-icon>
        <v-spacer></v-spacer>
        <v-chip outline color="black">
            {{ displayedTotal }}
        </v-chip>
    </v-toolbar>
    <v-content>
      <router-view/>
    </v-content>
    <notifications/>
  </v-app>
</template>

<script>
import Vue from "vue"
import Notifications from "vue-notification"
import io from "socket.io-client"

import Humanize from 'humanize-plus'

Vue.use(Notifications)

let config = require("../config.json")

Vue.prototype.$config = config

Vue.prototype.$downloadSocket = io(config.serverUrl + '/download', { transports: ["websocket"] })
Vue.prototype.$parserSocket = io(config.serverUrl + '/parser', { transports: ["websocket"] })
Vue.prototype.$searchSocket = io(config.serverUrl + '/search', { transports: ["websocket"] })
Vue.prototype.$configSocket = io(config.serverUrl + '/config', { transports: ["websocket"] })

export default {
    name: "App",
    data() {
        return {
            items: [
                { title: "Downloads", icon: "mdi-download", to: "/" },
                { title: "Search", icon: "mdi-magnify", to: "/search" },
                { title: "Settings", icon: "mdi-settings", to: "/settings" }
            ],
            drawer: false,
            displayedTotal: '-- B/s',
            total: 0
        }
    },
    mounted() {
        let self = this
        this.$downloadSocket.on("reconnect_attempt", () => {
            self.$downloadSocket.io.opts.transports = ["polling", "websocket"]
        })

        this.$downloadSocket.on('error', this.handleError)
        this.$parserSocket.on('error', this.handleError)
        this.$searchSocket.on('error', this.handleError)
        this.$configSocket.on('error', this.handleError)

        this.$downloadSocket.on('progress', (data) => self.total += data.speed)
        setInterval(function() {
            self.displayedTotal = self.total > 0 ? Humanize.fileSize(self.total) + '/s' : '-- B/s'
            self.total = 0
        }, 1000)
    },
    methods: {
        handleError(data) {
            // eslint-disable-next-line
            console.error(data['traceback'])
            this.$notify({
                type: 'error',
                title: 'Error',
                text: data['error']
            })
        }
    }
}
</script>

<style>
.v-card {
    border-radius: 10px;
}
</style>
