<template>
  <v-dialog
    :value="value"
    fullscreen
    hide-overlay
    transition="dialog-bottom-transition">
    <v-card>
        <v-toolbar color="primary">
            <v-btn icon @click="close">
                <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-toolbar-title>Add download</v-toolbar-title>
        </v-toolbar>
        <v-form
            ref="form"
            v-model="valid"
            lazy-validation
            @submit.prevent="donothing">
            <v-container grid-list-md>
                <v-layout row wrap>
                    <v-flex xs12>
                        <v-text-field
                            label="URL"
                            v-model="url"
                            ref="url"
                            :rules="[v => !!v || 'URL is required']"
                            required
                            append-icon="mdi-magnify"
                            :loading="searching"
                            @click:append="search"
                            @keyup.enter="search">
                        </v-text-field>
                    </v-flex>
                    <v-flex xs12>
                        <div v-if="filename"><b>Name: </b>{{ filename }}</div>
                        <div v-if="filesize"><b>Size: </b>{{ filesize }}</div>
                    </v-flex>
                    <v-flex v-if="dataFound">
                        <v-autocomplete
                            label="Title"
                            v-model="title"
                            :rules="[v => !!v || 'Title is required']"
                            :items="titles"
                            required>
                        </v-autocomplete>
                    </v-flex>
                    <v-flex v-if="dataFound && !tvShow" sm6>
                        <v-text-field
                            label="Year"
                            v-model="year"
                            :rules="[v => !!v || 'Year is required']"
                            required>
                        </v-text-field>
                    </v-flex>
                    <v-flex v-if="dataFound && tvShow" xs12>
                        <v-layout row wrap>
                        <v-flex sm6>
                            <v-text-field
                                label="Season"
                                v-model="season"
                                prefix="S">
                            </v-text-field>
                        </v-flex>
                        <v-flex sm6>
                            <v-text-field
                                label="Episode"
                                v-model="episode"
                                prefix="E">
                            </v-text-field>
                        </v-flex>
                        </v-layout>
                    </v-flex>
                    <v-flex v-if="dataFound" xs12>
                        <v-layout row wrap>
                            <v-flex sm3>
                                <v-text-field
                                    label="Language"
                                    v-model="language">
                                </v-text-field>
                            </v-flex>
                            <v-flex sm3>
                                <v-text-field
                                    label="Resolution"
                                    v-model="resolution">
                                </v-text-field>
                            </v-flex>
                            <v-flex sm3>
                                <v-text-field
                                    label="Quality"
                                    v-model="quality">
                                </v-text-field>
                            </v-flex>
                            <v-flex sm3>
                                <v-text-field
                                    label="Codec"
                                    v-model="codec">
                                </v-text-field>
                            </v-flex>
                        </v-layout>
                    </v-flex>
                    <v-flex xs12>
                        <div v-if="dataFound"><b>Final file name: </b>
                            <span v-if="tvShow"
                                >{{ title }}.S{{ season }}.E{{ episode }}</span>
                            <span v-else
                                >{{ title }}<span v-if="year"> ({{ year }})</span></span>
                            <span v-if="language"
                                >.{{ language }}</span>
                            <span v-if="resolution"
                                >.{{ resolution }}</span>
                            <span v-if="quality"
                                >.{{ quality }}</span>
                            <span v-if="codec"
                                >.{{ codec }}</span
                            >.{{ container }}
                        </div>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-form>
        <v-divider></v-divider>
        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
                flat
                color="success"
                :disabled="!dataFound || !valid"
                @click=add>Add</v-btn>
        </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import Humanize from 'humanize-plus'

export default {
    data () {
        return {
            url: '',
            valid: true,
            searching: false,
            dataFound: false,
            infos: {},
            filename: '',
            filesize: '',
            tvShow: false,
            title: '',
            year: 0,
            season: '',
            episode: '',
            language: '',
            resolution: '',
            quality: '',
            codec: '',
            container: ''
        }
    },
    props: {
        value: Boolean,
        initialURL: String
    },
    mounted() {
        if (this.initialURL) {
            this.url = this.initialURL
            this.search()
        }

        let self = this
        this.$downloadSocket.on('error', function() {
            self.url = ''
            self.dataFound = false
            self.searching = false
        })
    },
    watch: {
        title(newValue) {
            if (!this.tvShow) {
                let index = this.infos.results.findIndex((i) => i.title === newValue)
                if (index >= 0) {
                    this.year = parseInt(this.infos.results[index].release_date.substring(0, 4))
                }
            }
        },
        value() {
            this.url = ''
            this.filename = ''
            this.filesize = ''
            this.dataFound = false
            let url = this.$refs.url
            this.$nextTick(() => url.focus())
        }
    },
    methods: {
        donothing() {},
        close() {
            this.$emit('input', false)
        },
        search() {
            let self = this
            this.searching = true
            this.$downloadSocket.emit('get_infos', {url: this.url}, function(data) {
                self.filename = data.infos.filename
                self.filesize = Humanize.fileSize(data.infos.filesize)
                self.$parserSocket.emit('parse', {filename: self.filename}, function(data) {
                    self.tvShow = data.infos.type === 'episode'
                    self.titles = data.infos.results.map(i => self.tvShow ? i.name : i.title)
                    self.title = self.tvShow ? data.infos.results[0].name : data.infos.results[0].title
                    if (!self.tvShow) {
                        self.year = parseInt(data.infos.year)
                            || parseInt(data.infos.results[0].release_date.substring(0, 4))
                    } else {
                        self.season = data.infos.season.toString().padStart(2, "0") || ''
                        self.episode = data.infos.episode.toString().padStart(2, "0") || ''
                    }
                    self.language = data.infos.language || ''
                    self.resolution = data.infos.resolution || ''
                    self.quality = data.infos.quality || data.infos.source || ''
                    self.codec = data.infos.codec || data.infos.video_codec || ''
                    self.container = data.infos.container
                    self.infos = data.infos
                    self.searching = false
                    self.dataFound = true
                })
            })
        },
        add() {
            let self = this
            if (this.valid) {
                let dest_folder = this.tvShow ? this.title : (this.title + (this.year ? ' (' + this.year + ')' : ''))
                let dest_filename = dest_folder
                    + (this.tvShow ? (' S' + this.season + (this.episode ? 'E' + this.episode : '')) : '')
                    + (this.language ? '.' + this.language : '')
                    + (this.resolution ? '.' + this.resolution : '')
                    + (this.quality ? '.' + this.quality : '')
                    + (this.codec ? '.' + this.codec : '')
                    + '.' + this.container
                let name = this.title + (this.tvShow ? (' S' + this.season + (this.episode ? 'E' + this.episode : '')) : '')
                this.$downloadSocket.emit('add', {
                    url: this.url,
                    tv_show: this.tvShow,
                    dest_folder,
                    dest_filename,
                    name
                }, function() {
                    self.$notify({
                        type: 'success',
                        title: 'Download started',
                        text: self.title
                    })
                })
                this.close()
            }
        }
    }
}
</script>

